body {
    background-image: url('../images/teal_background.jpg');
    background-attachment: fixed;
    background-size: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

h2 {
    text-align:"center";
    font-size:48px;
    font-weight:bold;
    margin-bottom: 5px;
    margin-top:5px;
}

h3 {
    margin:0px;
}

.navlink_box {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    padding-top:15px;
}

.navlink {
    font-family:'Times New Roman', Times, serif;
    font-weight: normal;
    color:blue;
    text-decoration: underline;
    font-size: 20px;
}

.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(142, 253, 197);
    color:black;
    position:relative;
    margin: 0 auto;
    top:10px;
    /* left:-25px; */
    /* right:-25px; */
    height:fit-content;
    text-align:center;
    font-size:24px;
}

.summary_box {
    color: black;
    background-color:rgb(159, 231, 207);
    font-size:36px;
    margin: 10 auto;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.table_container {
    color: black;
    background-color:rgb(159, 231, 207);
    position:relative;
    max-width: 80%;
    min-width: 400px;
    margin-top:50px;
    height: fit-content;
    position: relative;
}

.Left_Image {
    left:0px;
}

.Right_Image {
    margin-left:20%;
    /* right:0%; */
}

.tableauViz {
    width:95%;
    height:800px;
}

.tableauPlaceholder {
    margin: 0 auto;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom:0px;
}

.caption_text {
    bottom: 100px;
    margin-left: 2.5%;
}

.footer {
    background-color: rgb(159, 231, 207);
    text-align: center;
    font-size: 10;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:dimgrey;
    margin-top: 20px;
    margin-bottom:0px;
}